@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.logo {
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 94px;
  text-align: left;
  padding-top: 63px;
}
.navbar {
  display: flex;
  width: 1280px;
  height: 72px;
  justify-content: center;
  background-color: #35444f;
}

.navbar-inside {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 26px;
  padding-bottom: 19px;
  border-left: 1px solid #ffff;
  padding-left: 32px;
  padding-right: 33px;
  color: white;
}
.navbar-inside:last-child {
  border-right: 1px solid white;
}
.navbar-inside:hover {
  background-color: #222f3a;
}
a {
  text-decoration: none;
  color: white;
}
.aside-li {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  justify-content: center;
  display: block;
  border: 1px solid #000000;
}
.aside-bar {
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 44px;
  background: rgba(0, 0, 0, 0.0001);
}
.aside-bar:hover {
  background-color: #dbdbdb;
}
aside {
  width: 344px;
  height: 399px;
  padding-top: 48px;
  display: block;
}
.image {
  width: 882px;
  height: 530px;
  border: 1px solid #000000;
  display: block;
  justify-content: center;
}
.container-main {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  height: 832px;
}
.container-aside-bar {
  padding-right: 52px;
}
.main-image {
  padding-top: 48px;
}

img {
  width: 320px;
  height: 381px;
  padding: 75px 268px 73px 297px;
}
.p1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 37px;
  padding-bottom: 34px;
}
.p2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
footer {
  width: 1280px;
  height: 70px;
  margin: 0 auto;
}
.navbar-bottom {
  display: flex;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 15px;
}
.footer-bottom {
  background-color: rgba(99, 105, 110, 0.48);
  width: 1280px;
  height: 69px;
  margin-top: 54px;
  display: flex;
}
main {
  height: 885px;
}
.navbar-bottom-list {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  padding-bottom: 13px;
  padding-right: 15px;
}

.span-bottom {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  padding-bottom: 13px;
}
.span-bottom:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  justify-content: center;
  padding-left: 135px;
  padding-top: 20px;
}
.span-bottom {
  padding-top: 20px;
}
